    
    <div class="collapse d-sm-none" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <nav class="my-2 my-md-0 me-md-3 navbar-text">
          <ul class="list-group">
            <li class="list-group-item"> <a href="#" class="link-light">Features</a></li>
            <li class="list-group-item"> <a href="#" class="link-light">Enterprise</a></li>
            <li class="list-group-item"> <a href="#" class="link-light">Support</a></li>
            <li class="list-group-item"> <a href="#" class="link-light">Pricing</a></li>
            <li class="list-group-item"> <a href="#" class="link-light">Sign Up</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark d-sm-none">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>